<%# <p style="color: green"><%= notice</p> %>

<%# <% content_for :title, "Articles" %> 

<%# <h1>Articles Listing Page</h1> %>

<%# <div id="articles"> %>
  <%# <% @articles.each do |article| %> 
    <%# <%= render article %> 
    <%# <p> %>
      <%# <%= link_to "Show this article", article %> 
    <%# </p> %>
  <%# <% end %> 
<%# </div> %>

<%# <%= link_to "New article", new_article_path %>

<h1> Articles listing page </h1>

<table>
  <thead>
    <tr>
      <th class="px-2">
        <span class="mx-2">
          ID
        </span>
      </th>

      <th>
        <span class="mx-2">
          Title
        </span>
      </th>

      <th>
        <span class="mx-2">
          Description
        </span>
      </th>

      <th>
        <span class="mx-2">
          Action
        </span>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <span class="mx-2">
          <%= article.id %> 

          </span>
        </td>
        
        <td>
          <%= article.title %> 
        </td>

        <td>
          <%= article.description %> 
        </td>

        <td class="space-x-3" >
          <%= link_to "view", article_path(article) %>
          <%= link_to "edit", edit_article_path(article) %>
          <%= link_to "delete", article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </td>
  
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to "Create new article", new_article_path %>
</p>