<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-12 mb-12">
  <h2 class="text-left text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl mb-4"><%= @category.name %></h2>
  <% if logged_in? and current_user.admin? %>
    <%= link_to "Edit category name", edit_category_path(@category), class: "w-full bg-gray-500 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded shadow text-center no-underline mb-4" %>
  <% end %>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mb-8 sticky top-0 bg-white z-10 py-4">
  <%= will_paginate @articles, 
      class: "flex justify-center space-x-1",
      previous_label: "← Prev",
      next_label: "Next →" %>
</div>

<%= render "articles/article" %>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mb-8 sticky top-0 bg-white z-10 py-4">
  <%= will_paginate @articles, 
      class: "flex justify-center space-x-1",
      previous_label: "← Prev",
      next_label: "Next →" %>
</div>